<div class="col-md-9">
	<div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
            	 <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    Modificar FE
                </ul>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, a fugit porro laboriosam totam neque dolorem voluptas at placeat ad assumenda sapiente similique iste eos sed ducimus amet adipisci animi.
            </div>
            <div class="panel-footer">
                Panel footer
            </div>
        </div>
    </div>
</div>