<div class="col-md-9">
	<div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
            	Registrar Evaluacion
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-7 col-md-7">
                                    <label for="nombre-curso" >Nombre del curso:</label>
                                    <input type="text" name="nombre-curso" id="nombre-curso" class="form-control input-xs" placeholder="Ingresa Nombre del Curso"/>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3" >
                                    <label for="buscar-curso"></label>
                                    <button  type="submit" class="btn btn-info"style="width: 100%;" name="buscar-curso" id="buscar-curso">
                                        <span class="glyphicon glyphicon-search" ></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr>
                    <legend>Datos del Curso</legend>
                    <div class="row">
                        <div class="col-xs-12">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    <label>Id:<span></span></label>    
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <label>Nombre:<span></span></label>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <label>Estatus:<span></span></label>
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    <label>Cupo:<span></span></label>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <label>Docente:<span></span></label>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                    <hr>
                    <legend>Lista de aspirantes</legend>
                    <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#Id</th>
                              <th>Nombre</th>
                              <th>Apellido</th>
                              <th>Calificacion</th>
                              <th>Agregar Calif.</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>10012</td>
                              <td>Rogelio</td>
                              <td>Chavez</td>
                              <td>10</td>
                              <td><button class="btn btn-link" data-toggle="modal" data-target="#calificacion"><span class="glyphicon glyphicon-pencil"></span></button></td>
                            </tr>
                            <tr>
                              <td>10013</td>
                              <td>Juan</td>
                              <td>Chavez</td>
                              <td>7</td>
                              <td><button class="btn btn-link" data-toggle="modal" data-target="#calificacion"><span class="glyphicon glyphicon-pencil"></span></button></td>
                            </tr>
                            <tr>
                              <td>10014</td>
                              <td>Laura</td>
                              <td>Aguilar</td>
                              <td>8</td>
                              <td><button class="btn btn-link" data-toggle="modal" data-target="#calificacion"><span class="glyphicon glyphicon-pencil"></span></button></td>
                            </tr>
                            <tr>
                              <td>10015</td>
                              <td>Mariana</td>
                              <td>Flores</td>
                              <td>10</td>
                              <td><button class="btn btn-link" data-toggle="modal" data-target="#calificacion"><span class="glyphicon glyphicon-pencil"></span></button></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div class="modal fade" id="calificacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Nueva Calificacion</h4>
                              </div>
                              <div class="modal-body">
                                <label for="Calificacion-nueva">Calificacion</label>
                                <input type="text" name="Calificacion-nueva" id="Calificacion-nueva" class="form-control input-xs"/>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Guardar Cambios</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>

</div>