<div class="col-md-9">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Panel heading
		</div>
    	<div class="panel-body">
    	    <!-- Nav tabs -->
    	    <ul class="nav nav-tabs">
    	      <li class="active"><a href="#tabDatosGenerales" data-toggle="tab">Datos Generales</a></li>
    	      <li><a href="#tabEncuesta" data-toggle="tab">Encuesta</a></li>
    	    </ul>

    	    <!-- Tab panes -->
    	    <div class="tab-content">
    	      <div class="tab-pane fade in active" id="tabDatosGenerales">
			<form class="form-horizontal" role="form">
				<div class="container-fluid">
					<div class="row">
						
						<label class="col-md-2">Apellido Paterno</label>
						<input class="col-md-2" type="text" />
					
						<label class="col-md-2">Apellido Materno </label>
						<input class="col-md-2"type="text" />
				
						<label class="col-md-2">Nombre(S) </label>
						<input class="col-md-2"type="text" /> 
					</div>

					<div class="row">
						
						<label class="col-md-2">Fecha de nacimiento</label>
						<input class="col-md-2" type="date" />
					
						<label class="col-md-1">Sexo </label>
						<select class="col-md-1">
							<option>H</option>
							<option>F</option>
						</select>

						<label class="col-md-1">CURP</label>
						<input class="col-md-1"type="text" />
				
						<label class="col-md-2">Tipo de Sangre</label>
						<input class="col-md-2"type="text" /> 
					</div>

					<div class="row">
						
						<label class="col-md-2">R.F.C.</label>
						<input class="col-md-2" type="date" />
					
						<label class="col-md-2">Lugar de Nacimiento</label>
						<select class="col-md-2">
							<option>H</option>
							<option>F</option>
						</select>

						
						  <label class="col-md-2">
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
						    Rural
						  </label>
						
						
						  <label class="col-md-2">
						    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						    Urbano
						  </label>
						
					</div>
				</div>
			</form>
			
    	      </div>
    	      <div class="tab-pane fade" id="tabEncuesta">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, possimus, facilis, impedit voluptate distinctio deserunt similique sit sunt ab nulla facere vitae asperiores nisi totam ipsa culpa voluptatibus deleniti placeat.
    	      </div>
    	    </div>
    	</div>
    	<div class="panel-footer">
    		Panel footer
    	</div>
	</div>
</div>	